<style>
  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #363a41;
    color: white;
  }
  .menu {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
  }
  .wrapper {
    padding: -10px;
    margin: -10px;
  }
</style>

<!-- Toolbar -->
<div class="wrapper">
  <div class="toolbar" role="banner">
    <a class="menu">Swapiku</a>
    <a class="menu" href="/movies">Films</a>
    <a class="menu" href="/characters">People</a>
  </div>

  <router-outlet> </router-outlet>
</div>
