<div class="card">
  <p class="name">{{ character.name }}</p>
  <div class="content">
    <p class="text-bold">Birth year</p>
    <p class="text">{{ character.birth_year }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Eye Color</p>
    <p class="text">{{ character.eye_color }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Skin Color</p>
    <p class="text">{{ character.skin_color }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Hair Color</p>
    <p class="text">{{ character.hair_color }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Gender</p>
    <p class="text">{{ character.gender }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Height</p>
    <p class="text">{{ character.height }}</p>
  </div>
  <div class="content">
    <p class="text-bold">Mass</p>
    <p class="text">{{ character.mass }}</p>
  </div>
</div>
